.ui{
  height: 88px;
}

.km{
  text-align: center;
  font-style: italic
}

.yuri{
  height: 280px;
}

.text{
  text-align: center;
}

.eu{
  text-align: center;
  
}

.gab{
  height: 540px;
}


.produto-container{
  display:flex;
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 768px); {
  .produto-container{
    width: 100%;
    flex-direction: column
  }
}
